/*Большие девайсы (большие десктопы, < 1200px)*/
@media only screen and (max-width: 1199.98px) {
}

/*Средние девайсы («таблетки», < 992px)*/
@media only screen and (max-width: 991.98px) {
    .about, .skills {
        width: 100%;
    }

    .skill-cards > .card {
        width: 20%;
    }
}

/*Малые девайсы («ландшафтные», < 768px)*/
@media only screen and (max-width: 767.98px) {
    .title {
        background-image: url("../img/bg-md.jpg");
    }

    .title h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .title h4 {
        font-size: 20px;
    }

    .about, .skills {
        width: 100%;
        margin: auto;
    }


    .portfolio-gallery > .card {
        width: 50%;
        margin: auto;
        margin-bottom: 1%;
    }
}


/*Экстрамалые девайсы («телефоны», < 576px)*/
@media only screen and (max-width: 575.98px) {
    .title {
        background-image: url("../img/bg-sm.jpg");
    }
}