body {
    min-width: 320px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: white;
    color: #333;
}
form {
    width: 100%;
}
button {
    color: white;
    font-weight: bold;
    padding: 7px 20px;
}

.orange {
    background-color: #ff8b38;
}

.btn-orange {
    background-color: #ff8b38;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid white;
}


header {
    background-color: #000;
}

header .navbar {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.promo {
    background-image: url("../img/promo.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 50px 0;
}

.promo > .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.promo-logo {
    width: 45%;
}

.sign-up {
    width: 30%;
}
h1, h2 {
    color: white;
    text-transform: uppercase;
}

span {
    color: #ff8b38;
}

h1 span, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h2 {
    color: #333333;
    font-size: 28px;
}

h3 {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

hr {
    display: inline-flex;
    background-color: white;
    height: 1.5px;
    color: white;
    width: 65px;
}

p {
    font-size: 14px;
    color: grey;
}

.card-header {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.form-control {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 0;
    background-color: transparent;
    color: #d6d6d6;
    font-size: 12px;
    margin-bottom: 20px;
}

.card button {
    width: 100%;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #ff8b38;
    font-size: 12px;
    padding: 12px 0;
}

.card button:hover {
    background-color: grey;
}

.social-media {
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
    background-color: white;
}

.social-media-brands {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.social-media-brands a {
    color: #cccccc;
    font-size: 40px;
    margin-left: 40px;
}
.social-media-brands :first-child {
    margin-left: 0px;
}

.social-media-flex {
    display: flex;
}

section {
    height: 100%;
    padding: 100px 0;
}

.features, .picture-section, .prices {
    background-color: #f5f5f5;
}

.features > .container {
    display: flex;
    justify-content: space-between;
}

.tabs {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.tabs :first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.tabs :last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.tab {
    display: flex;
    justify-content: center;
    border-radius: inherit;
    align-items: center;
    background-color: #333333;
    color: white;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin: 1px;
}

.tab:hover {
    background-color: #ff8b38;
}

.f-text {
    width: 40%;
}

.features .f-img {
    width: 30%;
}

.f-img img {
    width: 100%;
}

.f-text div {
    margin: 2rem 0;
}

.sub-list-section > .container, .picture-section > .container {
    display: flex;
    justify-content: space-between;
}

.sub-list-section .f-img,
.picture-section .f-img,
.picture-text {
    width: 45%;
}

.fa-cloud-upload-alt, .fa-cloud-download-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 38px;
    width: 38px;
    height: 38px;
    font-size: 12px;
}

.fa-lightbulb, .fa-keyboard, .fa-bolt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.sub-list-section li {
    display: flex;
    justify-content: space-between;
}

.sub-list-section li > .li-text {
    margin-left: 2rem;
}

.card-header {
    background: transparent;
    border: 0;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 0;
}

.row {
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
}

.price:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.price .card-header, .price .card-body {
    background-color: #333333;
    color: #cccccc;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #f5f5f5;
    flex-wrap: nowrap;
}

.price .description {
    background-color: #ff8b38;
    color: white;
    text-transform: uppercase;
    width: 100%;
    align-self: flex-end;
    min-height: 7px;
    margin: 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.description > p {
    color: white;
    display: none;
    margin: 0;
    padding: 0;
}

.price .card-header {
    font-weight: bold;
}

.price .card-body span {
    color: white;
    font-size: 4rem;
    line-height: 3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

span > small {
    font-size: 1.5rem;
    font-weight: 700;
}

.price li {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #333333;
    padding: 5px;
    font-size: 10px;
    border-top: 0px;
}

.comment {
    flex-basis: 50%;
    margin-bottom: 25px;
}

.comment-bubble {
    padding: 10px;
}

.comment-bubble {
    background: #ebebeb;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.comment-bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25px;
    width: 0;
    height: 0;
    border-right: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-top: 13px solid #ebebeb;
}

.comment-text {
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-start;
}

.author img {
    max-width: 70px;
    max-height: 70px;
}

.author-name {
    font-weight: bold;
}

.author-about {
    padding: 10px;
}

.stylish-axure {
    background-image: url("../img/promo.jpg");
}

.light-text, h2.light-text {
    color: white;
}

footer {
    background-color: black;
    padding: 10px 0;
}

footer .social-media-brands > a {
    font-size: 20px;
}


/*=======================================================================================================*/

/* Large Devices, Wide Screen */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1199px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .social-media-brands a {
        font-size: 30px;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 991px) {
    section {
        padding: 50px 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .promo-logo {
        width: 50%;
    }
    .sign-up {
        width: 45%;
    }

    .social-media > .container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 767px) {
    .promo > .container,
    .features > .container,
    .sub-list-section > .container,
    .picture-section > .container {
        flex-wrap: wrap;
    }

    .promo-logo, .sign-up {
        width: 100%;
    }

    .sign-up {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .sub-list-section .f-img,
    .picture-section .f-img,
    .features .f-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;

    }
    .features .f-img{
        order: -1;
    }
    .features .f-img img {
       width: 320px;
    }
    .f-text {
        width: 70%;
    }
    .picture-text {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
    .feedback .row {
        flex-direction: row;
    }
    .col {
        margin: 10px;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 476px) {
}